{% extends 'base.html' %} {% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="float-right">
    <a class="nav-link" href="{% url 'dashboard:historytaking' %}">
        <span class="fa fa-eye" aria-hidden="true"></span> View History </a>
</div>



<h2 class="text-center">{% if title %} {{ title }} {% endif %}</h2>
<hr />
<div class="row">
    <div class="col-12">
        <form class="form my-2 my-lg-0" action="." method="GET" name="q">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by ID"
                aria-label="Search" name="q" value="{{ request.GET.q}}">
        </form>
        <hr>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="text-success" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Patient ID</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if not queryset %}
                {% for patient in patients %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ patient.patient.id }} </td>
                    <td> {{ patient.patient.name }} </td>
                    <td> {{ patient.patient.birth_date }} </td>
                    <td> {{ patient.patient.status }} </td>
                    <td> {{ patient.patient.mobile }} </td>
                    <td> <a href=" {% url 'dashboard:history_taking' patient.pk %} " name="edit"
                            class="btn btn-success btn-sm"> <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}

                {% for patient in queryset %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ patient.patient.id }} </td>
                    <td> {{ patient.patient.name }} </td>
                    <td> {{ patient.patient.birth_date }} </td>
                    <td> {{ patient.patient.status }} </td>
                    <td> {{ patient.patient.mobile }} </td>
                    <td> <a href=" {% url 'dashboard:history_taking' patient.pk %} " name="edit"
                            class="btn btn-success btn-sm"> <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                {% if patients.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link"><i class="fa fa-angle-double-left"></i></a>
                </li>
                <li class="page-item"><a href="?page={{ patients.previous_page_number }}" class="page-link"><i
                            class="fa fa-angle-right"></i></a>
                </li>
                {% endif %}

                <li class="page-item"><a href="#" class="current page-link">
                        Page {{ patients.number }} of {{ patients.paginator.num_pages }}.
                    </a></li>

                {% if patients.has_next %}
                <li class="page-item"><a href="?page={{ patients.next_page_number }}" class="page-link"><i
                            class="fa fa-angle-right"></i></a>
                </li>
                <li class="page-item"><a href="?page={{ patients.paginator.num_pages }}" class="page-link"><i
                            class="fa fa-angle-double-right"></i> </a>
                </li>
                {% endif %}

            </ul>
        </nav>
        <p class="text-right">Total Found {{ title }}: <b> {{ total }} </b></p>

    </div>
</div>

{% endblock %}