{% extends 'base.html' %} {% block title %} {{ title }} {% endblock %}
{% block content %}

<h2 class="text-center">{% if title %} {{ title }} {% endif %}</h2>
<hr />
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
        <form action="." method="POST">
            {% csrf_token %}
            {% for field in form %}

            <div class="form-group">
                {{ field }}
                {% if field.errors %}
                {% for error in field.errors %}
                <p class="text-danger">{{ error|escape }}</p>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <div class="form-group float-right">
                {% if valueBtn == 'Add' %}
                <button type="submit" class="btn btn-success btn-sm" value=" {{ valueBtn }} "> <span
                        class="glyphicon glyphicon-plus"></span> </button>
                {% elif valueBtn == 'Update' %}
                <button type="submit" class="btn btn-success btn-sm" value=" {{ valueBtn }} "> <span
                        class="glyphicon glyphicon-edit"></span> </button>
                <a href=" {% url 'dashboard:laboratory' %} " class="btn btn-success btn-sm"> <span
                        class="glyphicon glyphicon-arrow-left"></span></a>
                {% endif %}
            </div>
        </form>

    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
        <form class="form my-2 my-lg-0" action="." method="GET" name="q">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by Name or Number" aria-label="Search"
                name="q" value="{{ request.GET.q}}">
        </form>
        <hr>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="text-success" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lab Test</th>
                    <th scope="col">Group</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Active</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if not queryset %}
                {% for lab in labs %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ lab.laboratory }} </td>
                    <td> {{ lab.group }} </td>
                    <td>${{ lab.cost }} </td>
                    <td> {{ lab.active }} </td>
                    <td> <a href="  {% url 'dashboard:laboratory_update' lab.pk %} " name="edit"
                            class="btn btn-success btn-sm"> <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}

                {% for lab in queryset %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ lab.laboratory }} </td>
                    <td> {{ lab.group }} </td>
                    <td>${{ lab.cost }} </td>
                    <td> {{ lab.active }} </td>
                    <td> <a href=" {% url 'dashboard:laboratory_update' lab.pk %}  " name="edit"
                            class="btn btn-success btn-sm"> <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                {% if labs.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link"><i class="fa fa-angle-double-left"></i></a>
                </li>
                <li class="page-item"><a href="?page={{ labs.previous_page_number }}" class="page-link"><i
                            class="fa fa-angle-right"></i></a>
                </li>
                {% endif %}

                <li class="page-item"><a href="#" class="current page-link">
                        Page {{ labs.number }} of {{ labs.paginator.num_pages }}.
                    </a></li>

                {% if labs.has_next %}
                <li class="page-item"><a href="?page={{ labs.next_page_number }}" class="page-link"><i
                            class="fa fa-angle-right"></i></a>
                </li>
                <li class="page-item"><a href="?page={{ labs.paginator.num_pages }}" class="page-link"><i
                            class="fa fa-angle-double-right"></i> </a>
                </li>
                {% endif %}

            </ul>
        </nav>
        <p class="text-right">Total Found {{ title }}: <b> {{ total }} </b></p>

    </div>
</div>

{% endblock %}